<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <img src='http://www.whatscoolforkids.com/images/zacpowerlogo2.jpg'/></div>
      <div class="panel-footer">
        <button type="button" class="btn btn-danger">Dislike</button><div align="right"><button type="button" class="btn btn-success">Like</button></div>
  </div>
</div>


<h1>Listing Places</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Keywords</th>
      <th>Region</th>
      <th>Wiki</th>
      <th>Language</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.city %></td>
        <td><%= place.state %></td>
        <td><%= place.country %></td>
        <td><%= place.keywords %></td>
        <td><%= place.region %></td>
        <td><%= place.wiki %></td>
        <td><%= place.language %></td>
        <td><%= place.image %></td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
